

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects on GitHub</h1>
<br />
<div>
    <a href="https://github.com/minkinen/Hangman">Hangman</a><br />
    Console application made in c#. <br />
    The game hangman.<br />
</div>
<br />
<div>
    <a href="https://github.com/minkinen/VendingMachine">Vending Machine</a><br />
    Console application made in c#. <br />
    A buy-items-from-a-vending-machine-simulation. <br />
    With xUnit unit tests. <br />
</div>
<br />