

@model CreatePersonViewModel

<b>Add a new Person</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
<form asp-controller="People" asp-action="AddNewPerson" method="post">
    <input type="text" required name="name" class="my-form-box-1" placeholder="Name" />
    <br />
    <input type="text" required name="phoneNumber" class="my-form-box-1" placeholder="Phone Number" />
    <br />
    <select asp-for="City" asp-items="ViewBag.Cities" class="my-form-box-1">
    <option value="" selected disabled>Select City</option>
    </select>
    <br />
    <input type="submit" value="Submit" />
</form>

