

@model Person

<div class="row">
    <div class="col-sm">
        @Html.DisplayFor(modelItem => Model.Name)
    </div>
    <div class="col-sm">
        @Html.DisplayFor(modelItem => Model.PhoneNumber)
    </div>
    <div class="col-sm">
        @Html.DisplayFor(modelItem => Model.City.CityName)
    </div>
    <div class="col-sm">
        <a asp-action="DeletePerson" asp-route-id="@Model.Id">Delete Person</a>
    </div>
</div>