

<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/style.css" />
    <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Database Fundamentals</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Projects">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Doctor" asp-action="Index">Doctor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Games" asp-action="Index">Games</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="People" asp-action="Index">People</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Cities" asp-action="Index">Cities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Countries" asp-action="Index">Countries</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <br />
        <br />
        <footer class="border-top footer text-muted">
            <div class="container">
                @DateTime.Now.ToShortDateString() - Marco Inkinen
            </div>
        </footer>
    </body>
</html>